body {
    margin: auto;
    width: 60%;
}
.carousel{
    margin: 10vh auto;
    display:flex;
    flex-flow: row;
    height: 50vh;
    position: relative;
}
.carouselBtn{
    cursor: pointer;
    z-index: 10;
    background-color:rgba(0,0,0,0.3);
    height: 100%;
    width: 10%;
    position: absolute;
    display: flex;
    justify-content:center;
    align-items: center;
}
.carouselBtn span{
    font-weight: bolder;
    color: rgba(255,255,255,0.5);
    display: block;
    font-size: 150%;
}
.carouselContent{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.rightBtn{
    right: 0;
}
.leftBtn{
    left: 0;
}
.carouselContent ul{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.active {
    height: 100%;
}
.active li {
    display:none;
    position: absolute;
    left: 100%
}
.active li.current {
    display: block;
    left: 0;
}
.carouselItem{
    background: no-repeat center;
    background-size: cover;
    display: inline-block;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}