.data {
    margin: 3% auto;
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}

    .data th, .data td {
        padding: 1%;
        border-left: 1px solid black;
        text-align: left;
        padding: 8px;
    }
tr:nth-child(even) {
    background-color: #f2f2f2
}
th {
    background-color: #4CAF80;
    color: white;
}

.btn {
    width: 10vw;
    height: 5vh;
    background-color: #4CAF80;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: inset 1px 1px 20px 3px rgba(0, 0, 0, 0.2);
    margin: 2vh;
    transition: 0.3s;
    border-radius: 10px;
    outline: none;
}
.fetchData:hover{
	box-shadow: inset 1px 1px 20px 3px rgba(0, 0, 0, 0.4);
}

.weatherInformation {
    border: 1px solid black;
    border-collapse: collapse;
    display: none;
}

.weatherInformation td {
    text-align: center;
}

header#main {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}