#wrapper{
    margin: auto;
    width: 80%;
}
.article{
    float: left;
    width: 23%;
    margin:1%;
    border: 1px solid black;
    padding:1%;
}
body{
    background-color: rgb(222, 234, 186);
}