body{
    background-color: rgb(192, 255, 251);
}
#wrapper{
    margin:auto;
    width: 80%;
}
.block{
    height: 200px;
    float: left;
    margin: 0 2% 0 2%;
}

.block-large{
    background-color: rgb(148, 239, 193);
    width: 60%;
}

.block-small{
    background-color: rgb(246, 87, 252);
    width: 30%;
}