body{
    background-color: gray;
}
#main{
    font-family: Calibri;
    position:relative;
    width: 100%;
    margin:0;
    height: 60px;
    background-color: rgb(253, 189, 31);
}
#headerContent{
    position: absolute;
    bottom: 0;
    height: 90%;
    width: 100%;
    background-color: white;
}
#applicationIdentity{
    margin: 10px;
    width: 30%;
    color: rgb(163, 148, 153);
}
#bellIcon{
    float: left;
    width: 30px;
    margin: 0 1vh 0 1vh;
}
#siteName{
    margin: -5px;
    font-size: 18px;
    font-weight: bolder;
}
#headerMenu{
    height: 100%;
    display: block;
    right: 0;
    width: 50%;
    position: absolute;
}
#headerMenu ul{
    margin: 0;
    height: 100%;
}
#headerMenu ul li{
    float: left;
    height: 100%;
    width: 20%;
    display: inline-block;
}
#headerMenu ul li a{
    text-align: center;
    line-height: 100%;
    width: 100%;
    height: 100%;
    color: rgb(163, 148, 153);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

#headerMenu ul li a:hover{
    transition: 0.3s;
    background-color: rgb(253, 189, 31);
    color: white;
}
