@font-face {
    font-family: cloisterBlack;
    src: url(fonts/CloisterBlack.ttf);
}
@font-face {
    font-family: seagram;
    src: url(fonts/Seagram.ttf);
}

div#wrapper{
    width: 90%;
    margin:auto;
}

article.article{
    width: 25%;
    float: left;
    border: 1px solid black;
}
article.article:hover img.articleImage{
    opacity: 1;
    transition: 0.3s;
}
img.articleImage {
    opacity: 0.5;
    float: left;
    width: 35%;
    margin: 5px;
    transition: 0.3s;
}
div.article{
    width: 60%;
}
div.articleContent p {
    font-size: 0.8vm;
    font-family: cloisterBlack;
}
div.articleContent h3{
    margin: 5px;
    font-family: seagram;
}