#image{
    display: block;
    margin: 10px auto;
    width: 40%;
}
.imgBorder {
    border: 5px solid red;
}
#wrapper{
    height: 95vh;
    display: flex;
    align-content:center;
}
#imageWrapper{
    display: flex;
    flex-flow: column;
    margin: auto;
}
.buttons{
    display: flex;
    flex-flow: row;
    margin: auto;
}